/*
#activity-karta,
#dostihy-a-sazky-karta,
#activity-karta,
#dostihyasazky-karta,
#scrabble-karta,
#monopoly-karta,
#dixit-karta,
#carcassonne-karta,
#bang-karta,
#krycijmena-karta,
#karak-karta,
#vybusnekocky-karta,
#ubongo-karta,
#tickettoride-karta,
#divu-sveta-karta,
#jizdenky-prosim-karta,
#duch-karta {
    opacity: 0;
}
*/

#polozky-kosiku{
    opacity: 1;
}

/*

v kosi se to predtim spawnovalo v kosi ale pak to fungovalo normalne

*/